#N
weight_shift_in\[.*
quant_shift_in\[.*
quant_shift_en

lfsr_data_out\[.*
out_act\[.*

psum_A_addr\[.*
psum_B_addr\[.*
psum_A_read_bank_sel\[.*
psum_B_read_bank_sel\[.*
psum_A_rdata\[.*
psum_B_rdata\[.*
psum_A_wdata\[.*
psum_B_wdata\[.*

#W
clk_i
rst_n
array_en
psum_systolic_en
psum_lut_en
weight_shift_en\[.*
swap_weights
stochastic_round_en
psum_skew_en
compute_bank_swap

crossbar_sel\[.*

psum_A_we\[.*
psum_B_we\[.*
psum_sram_we\[.*
psum_sram_addr\[.*
psum_sram_wdata\[.*
psum_sram_rdata\[.*

act_sram_rdata\[.*

#E

#S